* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(135deg, #6b6b6b, #dddddd, #969696);
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  margin: 50px auto;
  padding: 35px 30px;
  border-radius: 10px;
  border: 1px solid #bfbebe;
  background-color: #ffffff5f;
}

h1 {
  padding-bottom: 20px;
  font-family: "Alan Sans", sans-serif;
}

#task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  padding-bottom: 25px;
}

input[type="text"] {
  height: 25px;
  margin-bottom: 10px;
  padding-left: 5px;
  border-radius: 3px;
  border: 1px solid rgb(164, 164, 164);
  font-size: 15px;
}

#task-form button {
  width: 150px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #7d8a27;
  border-radius: 10px;
  background-color: #c6da41;
  font-size: 14px;
  font-weight: 600;
  color: #282d0c;
  cursor: pointer;
}

#task-list {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 10px;
  padding: 0px 35px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.827);
  color: #ffffff;
  list-style: none;
}

#task-list li a {
  text-decoration: none;
  color: red;
  font-family: "Unna", sans-serif;
}