:root {
    --font-color: #fff
}

body {
    background-color: rgb(41, 41, 41);
    color: var(--font-color);
}

li {
    list-style: none;
    font-size: 1.2rem;
}

.container {
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: silver;
}

#task-list li {
    background-color: rgba(0, 0, 0, 0.877);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
} 